extends ../layout

block content
  div  
    h1= title
    p Hi, welcome #{user.firstName}!
  div
    h2 Posts
      each post in posts 
        a(href=post.url)
          div.post 
            div.postInfo
              span 
                strong= post.createdByUser.username           
              span.postDate 
                em= post.createdDate
            div 
              span.postTitle= post.title
              p.postText= post.text

