extends ../layout

block content
    p.greeting2 
        span 
            a(href="/dashboard") < go back 
        span Hi, #{user.firstName}!
    div.postTop
        h1= post.title
        if user.isAdmin
            form(action=`/dashboard/post/delete/${post._id}` method="POST")
                input(type="submit" value= post.isHidden ? "Undo Delete": "Delete Post")
    if post.isHidden && user.isAdmin
        p.postDeleted Post Deleted
    div.post 
        div.postInfo
            span 
                strong= user.isMember ? post.createdByUser.username : "anonymous"         
            span.postDate 
                em= user.isMember ? post.createdDate_formatted : ""
        div 
            p.postText= post.text
    div
        div.commentArea
            if errors
                div
                    each error in errors 
                        span= error.msg
            h2 Comments
            form(action="" method="POST")
                textarea#addComment(name="addComments", cols="50", rows="10" placeholder=oldComment && oldComment.text ? oldComment.text : "Place a comment...")= oldComment && oldComment.text ? oldComment.text: ""
                input(type="submit" value="Comment") 
        if newComment && newComment.text 
            div.comment 
                    div.commentInfo
                        span 
                            strong= user.isMember ? newComment.createdByUser.username : "anonymous"
                        span.commentDate 
                            em= user.isMember ? newComment.createdDate_formatted : ""
                    div 
                        p.commentText= newComment.text
        if comments.length > 0
            each comment in comments
                if !comment.isHidden
                    div.comment 
                        div.commentInfo
                            span 
                                strong= user.isMember ? comment.createdByUser.username : "anonymous"
                            span.commentDate 
                                em= user.isMember ? comment.createdDate_formatted : ""
                        div 
                            p.commentText= comment.text
                        if user.isAdmin 
                            div 
                                form(action=`/dashboard/comment/delete/${comment._id}` method="POST")
                                    input(type="submit" value= comment.isHidden ? "Undo Delete": "Delete comment")
                else if user.isAdmin
                        div.comment 
                            div.commentInfo
                                span 
                                    strong= user.isMember ? comment.createdByUser.username : "anonymous"
                                    span.postDeleted (Deleted)
                                span.commentDate 
                                    em= user.isMember ? comment.createdDate_formatted : ""
                            div 
                                p.commentText= comment.text
                            if user.isAdmin 
                                div 
                                    form(action=`/dashboard/comment/delete/${comment._id}` method="POST")
                                        input(type="submit" value= comment.isHidden ? "Undo Delete": "Delete Post")
        else
            p There is no comments, be the first!